Reset CSS

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles (bullets, numbers, etc.) */
ul, ol {
  list-style: none;
}

/* Remove text decoration (underlines, etc.) for links */
a {
  text-decoration: none;
}

/* Set a base font size and family */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Optionally, set a background color and text color */
/* body {
  background-color: #f0f0f0;
  color: #333;
} */

/* Add additional reset styles as needed */

/* End of Reset CSS */

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Serif', serif;
}

/**/
/* HEADER */
/**/

/* New styles for the logo and buttons */
.logo-container {
  flex: 1; /* Let the logo container grow to take available space */
  height: 70px; /* Set the height of the logo container */
}

.logo {
  max-height: 100%; /* Set the maximum height to fit within the logo container */
  width: auto; /* Maintain aspect ratio */
}

.logo-container img {
  height: 100%; /* Set the height to 100% */
  width: auto; /* Maintain aspect ratio */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Vertically center the buttons */
}

nav ul li {
  margin-left: 20px; /* Adjust the spacing between items as needed */
}

/* Adjust background color */
header {
  background-color: #333; /* Darker grey background color */
  height: 70px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap (margin) between buttons as needed */
}

.header-button {
  background: none;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background 0.3s, border 0.3s;
  font-family: 'Young Serif', serif;
}

.header-button:hover {
  background: black;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow */
}

/**/
/* STYLE FORMS */
/**/

form {
  display: flex; /* Use flex display */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
}

/* Style the form container */
.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

/* Style the form header */
.card-header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Young Serif', serif;
}

/* Style form inputs and button */
.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333; /* Match the Header buttons border color */
  border-radius: 25px; /* Match the border radius of Header buttons */
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border: 2px solid #555; /* Adjust the border color on focus */
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

/* Style the submit button */
.btn-primary {
  background-color: #333; /* Dark gray background */
  color: white;
  border: 1px solid white; /* White border */
  border-radius: 25px; /* Match the border radius of Header buttons */
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  font-family: 'Young Serif', serif;
}

/* Hover effect for the button */
.btn-primary:hover {
  background: black; /* Dark background on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow */
}

/* Style error message */
.bg-danger {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/**/
/* LANDING */
/**/
.landing {
  text-align: center;
  padding: 20px;
}

.main-title {
  font-weight: bold;
	background-image: linear-gradient(90deg,#ffb3b3,#ffbfb3,#ffccb3,#ffd9b3,#ffe5b3,#fff2b3,#ffffb3,#f2ffb3,#e5ffb3,#d9ffb3,#ccffb3,#bfffb3,#b3ffb3,#b3ffbf,#b3ffcc,#b3ffd9,#b3ffe5,#b3fff2,#b3ffff,#b3f2ff,#b3e5ff,#b3d9ff,#b3ccff,#b3bfff,#b3b3ff,#bfb3ff,#ccb3ff,#d9b3ff,#e6b3ff,#f2b3ff,#ffb3ff);
	color: #0000;
	-webkit-background-clip: text;
	background-clip: text;
  color: transparent;
  font-style: italic;
  display: inline-block;
  filter: drop-shadow(2px 2px #333);
}

.landing-header {
  margin-bottom: 40px;
}

.landing-header p {
  font-size: 18px;
}

.landing-examples {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

.campaigns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/**/
/* STYLE CARDS FOR CAMPAIGN */
/**/


.campaign-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.campaign-card {
  width: 225px;
  height: 300px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  perspective: 1000px;
}

.campaign-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.campaign-card:hover .campaign-card-inner {
  transform: rotateY(180deg);
}

.campaign-card-front, .campaign-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.campaign-card-front {
  background: url('your-image-url.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: box-shadow 0.3s;
}

.campaign-card:hover .campaign-card-front {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.campaign-title {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  transition: transform 0.3s;
  font-family: 'Young Serif', serif;
  z-index: 1;
}

.campaign-card-back {
  background: url('your-image-url.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotateY(180deg);
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.campaign-description{
  text-shadow: rgba(0,0,0,0.9) 0px 0px 10px;
}


/**/
/*QUICK STYLE THE FOOTER*/
/**/
footer {
  background-color: #333; /* Darker grey background color */
  height: 60px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  margin-top: 20px; /* Add margin at the top */
}

.btn-small {
  font-size: 12px; /* Adjust the font size to make the button smaller */
  padding: 5px 10px; /* Adjust the padding to change the button size */
  border-radius: 10px; /* Adjust the border radius to match the other buttons */
}

/**
 * PROFILE
 */

 .profile{
  margin-bottom: 30px;
 }

 .profile-container {
  display: flex;
  flex-direction: column; /* Change to column direction to stack elements vertically */
  align-items: center; /* Center the content horizontally */
  padding: 20px;
  width: 80%;
  margin: auto;
}

.profile-info {
  display: flex;
  justify-content: space-between; /* Add space between profile-text and profile-image */
  width: 100%; /* Ensure full width of the container */
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.profile-username {
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px; /* Add some spacing from the top */
}

.standout {
  font-family: 'Young Serif', serif;
  transform: uppercase;
}

.profile-email {
  font-size: 16px;
  color: #888;
}

.profile-created {
  font-size: 14px; /* Adjust font size for account creation date */
  color: #888;
  margin-top: 10px;
}

.profile-cards {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  margin-top: 30px;
  gap: 20px; /* Add space between the cards */
}

.profile-card {
  flex: 1;
  height: 300px;
  width: 225px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card-1 {
  background:#FFB347;
}
.profile-card-2 {
  background:#C3ABFF;
}
.profile-card-3 {
  background:#A8D8B9;
}


.profile-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-number {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  padding-bottom: 10%;
  color: white;
  text-shadow: black 0px 0px 10px;
}

.profile-text {
  flex: 1; /* Occupy available space */
}

.profile-image {
  flex: 1; /* Occupy available space */
  display: flex;
  justify-content: flex-end; /* Push the content to the right */
  align-items: center; /* Center the content vertically */
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Rounded shape for the image */
  border: 1px solid white; /* White border around the image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Black glow around the image */
}

.profile-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10%;
  filter: drop-shadow(2px 2px #333);
}

/**/
/** HOME/DASHBOARD PAGE **/
/**/

/* Menu styles */
.menu {
  background-color: #333; /* Background color for the menu */
  color: #fff; /* Text color */
  padding: 20px;
}

.menu h2 {
  font-size: 1.5rem; /* Adjust the font size for "Tools" */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px; /* Adjust the spacing between menu items */
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem; /* Adjust the font size for menu links */
}

/* Dashboard styles */
.dashboard {
  display: flex; /* Use flex display to create a two-column layout */
}

/* Menu container styles */
.menu-container {
  background-color: #333; /* Background color for the menu container */
  color: #fff; /* Text color */
  padding: 20px;
}

.menu h2 {
  font-size: 1.5rem;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* Dashboard container styles */
.dashboard-container {
  flex: 1; /* Allow the dashboard container to expand and fill the remaining space */
  background-color: #f2f2f2; /* Background color for the dashboard container */
  padding: 20px;
}

/* Center the Dashboard title */
.dashboard h1 {
  text-align: center;
}

/* Style the "Welcome home" text */
.dashboard h3 {
  text-align: center;
  margin: 2em 0;
}

/* Apply margins to the campaign card container */
.campaign-card-container {
  margin: 0 30px;
}

/* Adjust campaign card alignment */
.campaign-card-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/** ADDITIONAL STYLES **/

.note-public-checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.note-public-checkbox label {
  margin-right: 10px; /* Add spacing between the label and the checkbox */
  font-size: 18px; /* Adjust the text size */
}

/* Style the checkbox itself */
.note-form-checkbox input[type="checkbox"] {
  margin-right: 10px; /* Add some space between checkbox and text */
}

/* Campaign Form Styles */
.campaign-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.campaign-form-header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Young Serif', serif;
  margin-bottom: 20px;
}

.campaign-form-group {
  margin: 10px 0;
}

.campaign-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign-image-selector {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333; /* Match the Header buttons border color */
  border-radius: 25px; /* Match the border radius of Header buttons */
  font-size: 16px;
}

.campaign-image-selector:focus {
  outline: none;
  border: 2px solid #555; /* Adjust the border color on focus */
}

.campaign-image-preview {
  text-align: center;
}

.campaign-add-button {
  background-color: #333; /* Dark gray background */
  color: white;
  border: 1px solid white; /* White border */
  border-radius: 25px; /* Match the border radius of Header buttons */
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  font-family: 'Young Serif', serif;
  margin-top: 20px; /* Add spacing between button and other elements */
}

.campaign-add-button:hover {
  background: black; /* Dark background on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow */
}

.campaign-image {
  width:300px;
  height:300px;
}

.character-count {
  margin-top:0px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Young Serif', serif;
}

.display-img {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
}

/* Add styles for the right section with the campaign image */
.campaign-image-container {
  flex: 1; /* Expand to fill available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign-image {
  max-width: 100%; /* Adjust the image size */
  max-height: 100%;
  border-radius: 10px; /* Rounded border for the image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the image */
}

/* Style for the left section with campaign details */
.campaign-details {
  flex: 1; /* Expand to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin:auto;
  text-align:center;
}

/* Style for the title, created on, and description */
.campaign-title {
  font-size: 24px;
  font-weight: bold;
}

.campaign-created {
  font-size: 16px;
  color: #888;
  text-align: center !important;
  margin: auto;
}

.campaign-details .campaign-created {
  text-align: center; /* Increase specificity with a more specific selector */
}

/* Style for the buttons at the bottom */
.campaign-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.edit-button,
.delete-button {
  background-color: #333;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  font-family: 'Young Serif', serif;
  width: 48%; /* Adjust button width */
}

.edit-button:hover,
.delete-button:hover {
  background: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Add these styles to adjust the layout */
.campaign-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.campaign-details-left {
  flex: 1;
  padding: 0 10px; /* Add padding to separate content from image */
}

.campaign-details-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.campaign-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.campaign-image-container {
  text-align: right; /* Align the image to the right */
}

.no-margin-bottom {
  margin-bottom:0px;
  padding-bottom:0px;
}

.no-margin-top {
  margin-top:0px;
  padding-top:0px;
}

/* fix the cards displaying weirdly if their description is long */
.campaign-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Adjust the number of lines (4 in this example) */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust the max width as needed */
}

.campaign-card {
  margin: 10px; /* Adjust the margin size as needed */
}